
/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.property-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.property {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}

.property:hover {
    transform: scale(1.05);
}

.property h2 {
    margin-top: 0;
    font-size: 1.2em;
    color: #007bff;
}

.property p {
    margin: 5px 0;
    color: #555;
}
