body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    color: #555;
    margin-bottom: 10px;
}

.course-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.course-list li {
    background: #e7e7e7;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.course-list li:nth-child(odd) {
    background: #f4f4f4;
}

.course-list li:hover {
    background: #ddd;

}
